src/main/app/twitter.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:twitter="http://www.mulesoft.org/schema/mule/twitter" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/twitter http://www.mulesoft.org/schema/mule/twitter/current/mule-twitter.xsd
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <flow name="twitterFlow">
        <twitter:filtered-stream config-ref="Twitter__Configuration" doc:name="Twitter (Streaming)">
        	<twitter:keywords >
                <twitter:keyword>${company_tw_1}</twitter:keyword>
                <twitter:keyword>${company_tw_2}</twitter:keyword>
                <twitter:keyword>${company_tw_3}</twitter:keyword>
                <twitter:keyword>${company_tw_4}</twitter:keyword>
                <twitter:keyword>${company_tw_5}</twitter:keyword>
                <twitter:keyword>${company_tw_6}</twitter:keyword>
                <twitter:keyword>${company_tw_7}</twitter:keyword>
                <twitter:keyword>${company_tw_8}</twitter:keyword>
                <twitter:keyword>${company_tw_9}</twitter:keyword>
                <twitter:keyword>${company_tw_10}</twitter:keyword>
        	</twitter:keywords>
      	</twitter:filtered-stream>
        <set-variable variableName="tmpPayload" value="#[payload]" doc:name="Tmp payload"/>
        <set-variable variableName="discard" value="true" doc:name="Discard flag"/>
        <set-payload value="#[flowVars.tmpPayload.userMentionEntities]" doc:name="Set userMentions to discard into payload"/>
        <foreach doc:name="For Each">
            <set-variable variableName="screenName" value="#[payload.screenName]" doc:name="Set user screenName"/>
            <db:select config-ref="MySQL_Configuration" doc:name="Get companies twitter account">
                <db:parameterized-query><![CDATA[SELECT * FROM DB_SENTIMENT.TB_COMPANIES where TW_ACCOUNT = #[flowVars.screenName];]]></db:parameterized-query>
            </db:select>
            <choice doc:name="Choice">
                <when expression="#[payload.size()&gt;0&amp;&amp;payload[0].TW_ACCOUNT==flowVars.screenName]">
                    <expression-component doc:name="Set discard flag to false"><![CDATA[flowVars.discard=false;]]></expression-component>
                    <set-variable variableName="companyTW" value="#[payload[0].IDCOMPANY]" doc:name="Set company"/>
                </when>
                <otherwise>
                    <expression-component doc:name="No operation"><![CDATA[//NO OPERATION]]></expression-component>
                </otherwise>
            </choice>
        </foreach>
        <choice doc:name="Choice discard flag">
            <when expression="#[flowVars.discard==false]">
                <set-payload value="#[flowVars.tmpPayload]" doc:name="Set tmpPayload"/>
                <set-payload value="#[payload.text]" doc:name="Set tweet in Payload"/>
                <flow-ref name="googleTranslateAPISubFlow" doc:name="googleTranslateAPISubFlow"/>
                <http:request config-ref="HTTP_Request_Configuration_SentimentAPI" path="${http.sentiment.path}" method="POST" doc:name="HTTP Sentiment Analysis">
                    <http:request-builder>
                        <http:header headerName="Content-Type" value="text/plain"/>
                    </http:request-builder>
                </http:request>
                <set-variable variableName="sentiment" value="#[payload]" doc:name="Sentiment var"/>
                <set-payload value="#[flowVars.tmpPayload]" doc:name="Set tmpPayload"/>
                <db:insert config-ref="MySQL_Configuration" autoGeneratedKeys="true" doc:name="Insert post MySQL">
                    <db:parameterized-query><![CDATA[INSERT INTO TB_POSTS (SOCIAL_NETWORK, ID_SOC_NETWORK, SENTIMENT_ID, MESSAGE, PARENT_ID, COMPANY)
VALUES ('twitter',#[payload.id],#[flowVars.sentiment],#[payload.text],null,#[flowVars.companyTW]);]]></db:parameterized-query>
                </db:insert>
            </when>
            <otherwise>
                <expression-component doc:name="No operation"><![CDATA[//NO OPERATION]]></expression-component>
            </otherwise>
        </choice>
        
    </flow>
</mule>
